//-------------------------------------------------------------------------------//
//--CARDS------------------------------------------------------------------------//
//-------------------------------------------------------------------------------//

// Basic card used to display blog posts
.card {
   background-color: $lt-grey;
   position: relative;
   display: flex;
   color: $dk-grey;
}

.card__teaser {
   background-color: $dk-grey;
   @include rem(25px, padding);
   display: flex;
   float: left;
}

.card__content {
   @include rem(10px 20px, padding);
   display: flex;
   flex-direction: column;
   justify-content: center;

   @include bp($bp-sm) {
      @include rem(25px, padding);
      float: left;
   }

   @include bp($bp-md) {
      justify-content: flex-start;
   }
}

.card__title {
   margin: 0;
   @include rem(18px);

   @include bp($bp-xs,$max-lg) { @include rem(20px); }
   @include bp($bp-lg) { @include rem(24px); }
}

.card__external-link {
   width: 16px;
   height: 16px;
   right: 10px;
   bottom: 10px;
   position: absolute;
   fill: rgba($dk-grey,0.25);

   @include bp($bp-md) {
      width: 22px;
      height: 22px;
   }
}
.card:hover .card__external-link,
.card:focus .card__external-link { fill: $dk-grey; }



// Visual-based card used to display portfolio pieces
.work-card {
   background-color: $lt-grey;
   position: relative;
   display: block;
   color: #fff;
   text-align: center;
}

.work-card__rollover {
   background-color: rgba($cyan,0.65);
   @include trbl(0,0,0,0);
   position: absolute;
   opacity: 0;
   transition: opacity 0.3s ease-in;
}
.work-card:hover .work-card__rollover,
.work-card:focus .work-card__rollover { opacity: 1; }

.work-card__title {
   content: "";
   position: absolute;
   display: block;
   background-color: rgba($cyan,0.9);
   @include trbl(10px,10px,10px,10px);
}

.work-card__title h3 {
   margin-top: 50%;
   @include rem(10px, padding);
   @include rem(16px);
   transform: translateY(-50%);

   @include bp($bp-sm,$max-lg) { @include rem(20px); }
   @include bp($bp-lg) { @include rem(24px); }
}