//-------------------------------------------------------------------------------//
//--CARDS------------------------------------------------------------------------//
//-------------------------------------------------------------------------------//

// Basic card used to display blog posts
.card {
   background-color: $lt-grey;
   position: relative;
   display: flex;
   color: $dk-grey;
}

.card__teaser {
   background-color: $dk-grey;
   @include rem(25px, padding);
   display: flex;
   float: left;
}

.card__content {
   @include rem(10px 20px, padding);

   @include bp($bp-sm) {
      @include rem(25px, padding);
      float: left;
   }
}

.card__title {
   margin: 0;
   @include rem(16px);
   transition: transform 0.3s ease-in;
   transform: translateY(0);

   @include bp($bp-sm,$max-lg) { @include rem(20px); }
   @include bp($bp-lg) { @include rem(24px); }
}

// .card__content:after {
//    content: "";
//    position: absolute;
//    display: block;
//    background-color: $cyan;
//    width: 100%;
//    height: 5px;
//    @include trbl(null,0,0,0);
//    transition: transform 0.3s ease-in;
//    transform: scaleY(0);
// }
// .card:hover .card__title:after,
// .card:focus .card__title:after { transform: scaleY(1); }
// .card:hover .card__title h3,
// .card:focus .card__title h3 { transform: translateY(-5px); }


// Visual-based card used to display portfolio pieces
.work-card {
   background-color: $lt-grey;
   position: relative;
   display: block;
   color: #fff;
   text-align: center;
}

.work-card__rollover {
   background-color: rgba($cyan,0.65);
   @include trbl(0,0,0,0);
   position: absolute;
   opacity: 0;
   transition: opacity 0.3s ease-in;
}
.work-card:hover .work-card__rollover,
.work-card:focus .work-card__rollover { opacity: 1; }

.work-card__title {
   content: "";
   position: absolute;
   display: block;
   background-color: rgba($cyan,0.9);
   @include trbl(10px,10px,10px,10px);
}

.work-card__title h3 {
   margin-top: 50%;
   @include rem(10px, padding);
   @include rem(16px);
   transform: translateY(-50%);

   @include bp($bp-sm,$max-lg) { @include rem(20px); }
   @include bp($bp-lg) { @include rem(24px); }
}